In [134]:
import pandas as pd
import json

### Reading Json files from Data.json

In [135]:
filepath= 'Data.json'
f_open = open(filepath,'r')
loadfile = json.load(f_open)

### Query No ::1 <br>
        
1) Calculate the BMI (Body Mass Index) using Formula 1, BMI Category and Health
risk from Table 1 of the person and add them as 3 new columns

### Load Data insde DataFrame for faster response and perform easy calculation

In [136]:
#print(loadfile)

In [137]:
dataframe = pd.DataFrame(loadfile)

### Converting Height from cm to m2 and Calculating BMI

In [138]:
dataframe['Heightm2']=dataframe['HeightCm']/100
dataframe['BMIrate']= (dataframe['WeightKg']/dataframe['Heightm2']).apply(lambda x:round(x,2))

In [139]:
dataframe.drop('HeightCm',axis=1)

   Gender  WeightKg  Heightm2  BMIrate
0    Male        96      1.71    56.14
1    Male        85      1.61    52.80
2    Male        77      1.80    42.78
3  Female        62      1.66    37.35
4  Female        70      1.50    46.67
5  Female        82      1.67    49.10

### Calculating BMI_Category and Health_risk inside dataframe using lambda function for less execution time

In [140]:
dataframe['BMI_Category'] =  dataframe['BMIrate'].apply(lambda x: 'Underweight' if x<=18.4 else ('Normal weight' if x>=18.5 and x<=24.9 else('Overweight' if x>=25 and x<=29.9 else('Moderately obese' if x>=30 and x<=34.9 else('Severely obese' if x>=35 and x<=39.9 else 'Very severely obese' )))))
dataframe['Health_risk'] =   dataframe['BMIrate'].apply(lambda x: 'Malnutrition risk' if x<=18.4 else ('Low risk' if x>=18.5 and x<=24.9 else('Enhanced risk' if x>=25 and x<=29.9 else('Medium risk' if x>=30 and x<=34.9 else('High risk' if x>=35 and x<=39.9 else 'Very high risk' )))))

In [141]:
dataframe

,Gender,HeightCm,WeightKg,Heightm2,BMIrate,BMI_Category,Health_risk
0,Male,171,96,1.71,56.14,Very severely obese,Very high risk
1,Male,161,85,1.61,52.80,Very severely obese,Very high risk
2,Male,180,77,1.80,42.78,Very severely obese,Very high risk
3,Female,166,62,1.66,37.35,Severely obese,High risk
4,Female,150,70,1.50,46.67,Very severely obese,Very high risk
5,Female,167,82,1.67,49.10,Very severely obese,Very high risk

In [142]:
dataframe.to_json(orient='records')

'[{"Gender":"Male","HeightCm":171,"WeightKg":96,"Heightm2":1.71,"BMIrate":56.14,"BMI_Category":"Very severely obese","Health_risk":"Very high risk"},{"Gender":"Male","HeightCm":161,"WeightKg":85,"Heightm2":1.61,"BMIrate":52.8,"BMI_Category":"Very severely obese","Health_risk":"Very high risk"},{"Gender":"Male","HeightCm":180,"WeightKg":77,"Heightm2":1.8,"BMIrate":42.78,"BMI_Category":"Very severely obese","Health_risk":"Very high risk"},{"Gender":"Female","HeightCm":166,"WeightKg":62,"Heightm2":1.66,"BMIrate":37.35,"BMI_Category":"Severely obese","Health_risk":"High risk"},{"Gender":"Female","HeightCm":150,"WeightKg":70,"Heightm2":1.5,"BMIrate":46.67,"BMI_Category":"Very severely obese","Health_risk":"Very high risk"},{"Gender":"Female","HeightCm":167,"WeightKg":82,"Heightm2":1.67,"BMIrate":49.1,"BMI_Category":"Very severely obese","Health_risk":"Very high risk"}]'

### Query No ::2 <br>
2) Count the total number of overweight people using ranges in the column BMI
Category of Table 1, check this is consistent programmatically and add any other
observations in the documentation

<font color='red'>We have multile solution for second query. Solution 1 and soution 2 are given below.</font>

<font color='red'>Solution 1</font>

In [143]:
df = dataframe.groupby(['BMI_Category'] ,as_index=False).count()[['BMI_Category','Gender']].rename(columns = {'Gender':'Count'}, inplace = False)
df

          BMI_Category  Count
0       Severely obese      1
1  Very severely obese      5

In [155]:
testdata = 'Overweight'
return_val = df[df['BMI_Category']==testdata]['Count']
if return_val.empty:
    lx=0
else:
    lx=int(return_val)

lx

0

<font color='red'>Solution 2</font>

In [156]:
return_val2 = len(list(filter(lambda x: True if x=='Overweight' else False , dataframe['BMI_Category'])))
return_val2

0